body{
    font-size: 25px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.main-container{
    width: 99%;
    margin: auto;
    border: 1px solid rgb(145, 145, 145);
    max-width: 1200px;
}
header{
    width:100%;
    background-color: rgb(1, 100, 54);
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom:30px;
}
h1,h2{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1{
    font-size: 3.5rem;
    margin-bottom: 30px;
}
h2{
    font-size: 2rem;
}
.main-style{
    width: 95%;
    margin: auto;
    
}

/*-------------main--------------*/
.main{
    max-width: 1000px;
    margin: auto;
}
.main-h{
    background-color: rgb(2, 139, 75);
    margin-top: 30px;
}
.type-con{
    background-color: rgba(191, 255, 234, 0.24);
    margin-bottom: 30px;
}
h3{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin: 0;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(2, 139, 75);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.col-container{
    max-width: 1000px;
}
.con-q{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.quist{
    font-size: 1.5rem;
    background-color: rgba(180, 180, 180, 0.205);
    width:50%;
    text-align: center;
    color:rgb(0, 66, 35) ;
}
.radio-con{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgba(179, 179, 179, 0.205);
    width:50%;
    text-align: center;
}
@media only screen and (max-width: 510px) {
    .main{
        width:100%;
    }
    .colq{
        display:none;
    }
    .con-q{
        flex-direction: column;
        
        align-items: center;
    }
    .radio-con{
        width: 100%;
        justify-content: space-around;

    }
    .quist{
        width: 100%;
        justify-content: space-around;

    }
    .main-style{
        width:100%;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    input[type='radio']:after {
        width: 10px;
        height: 10px;
        border-radius: 7px;
    }

    input[type='radio']:checked:after {
        width: 10px;
        height: 10px; 
        border-radius: 7px;
    }


}
.count{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding:10px;
    background: none;
}
.total{
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}
.total > p{
    margin: 0;
    color:rgb(1, 73, 40) ;
    padding-left: 10px;
}
.submit-btn{
    background-color: rgb(2, 139, 75);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 20px;
}
.submit-btn:hover{
    background-color: rgb(0, 53, 28);
}
@media only screen and (max-width: 320px) {
    .count{
        flex-direction: column;
    }
    .total{
        justify-content: center;
    }
}
.type-res{
    background-color: rgba(191, 255, 234, 0.24);
    padding-top: 30px;
    text-align: center;
}
.type-res > p {
    color:rgb(1, 73, 40) ;
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

footer{
    width:100%;
    text-align: center;
    background-color: rgb(1, 100, 54);
    color: white;
    font-size: 1.3rem;
    padding-top:15px;
    padding-bottom: 15px;
}
.hid-div{
    display: none;
}
.col2 > .col{
    font-size: 1.1rem;
    
}
.type-res{
    margin-top: 50px;
    margin-bottom: 50px;
}
